body{
    margin: 0px;
    background-color: #87CEFA;
}
div.menu{
    height: 70px;
}
div.navbar{
    width: 80%;
    margin-left: 10%;
}
div.esquerdo{
    float: left;
    width: 30%;
    background-color: #1e67c7;
}
div.direito{
    float: right;
    width: 70%;
    display: inline;
    background-color: #1e67c7;
    font-size: 200%;
}
div.item{
    width: 100%;
    height: 300px;
    margin-top: 2%;
    background-color: #1e67c7;
}
div.formulario{
    margin-left: 20%;
}
input{
    padding: 10px;
    margin: 1%;
}
h1{
    padding-left: 10%;
    color: #1e67c7;
}
h2{
    padding-left: 5%;
    text-align: center;
    color: white;
}
label{
    color: #1e67c7;
}
a{
    color: #1e67c7;
    text-decoration: none;
}
a.menu{
    font-family: Arial;
    float: right;
    padding: 15px;
    padding-right: 10%;
    color: white;
}
a.item{
    font-size: 200%;
    margin: 5%;
    color: white;
}
img{
    float: left;
}
p{
    float: left;
    width: 70%;
    margin-left: 2%;
    font-size: 200%;
}
a:hover{
    color: black;
    text-decoration: underline;
}
img{
    width: 250px;
    height: 300px;
    padding-left: 6%;
}
span.titulo{
    color: blue;
    font-family: Verdana;
}